:root {
	/* dark shades of primary color*/
	--clr-primary-1: hsl(162, 61%, 89%);
	--clr-primary-2: hsl(162, 60%, 78%);
	--clr-primary-3: hsl(162, 61%, 67%);
	--clr-primary-4: hsl(162, 61%, 57%);
	/* primary/main color */
	--clr-primary-5: hsl(162, 73%, 46%);
	/* lighter shades of primary color */
	--clr-primary-6: #1aa179;
	--clr-primary-7: #13795b;
	--clr-primary-8: #0d503c;
	--clr-primary-9: #06281e;
	/* darkest grey - used for headings */
	--clr-grey-1: hsl(212, 33%, 89%);
	--clr-grey-2: hsl(210, 31%, 80%);
	--clr-grey-3: hsl(211, 27%, 70%);
	--clr-grey-4: hsl(209, 23%, 60%);
	/* grey used for paragraphs */
	--clr-grey-5: hsl(210, 22%, 49%);
	--clr-grey-6: hsl(209, 28%, 39%);
	--clr-grey-7: hsl(209, 34%, 30%);
	--clr-grey-8: hsl(211, 39%, 23%);
	--clr-grey-9: hsl(209, 61%, 16%);
	--clr-white: #fff;
	--clr-red-dark: hsl(360, 67%, 44%);
	--clr-red-light: hsl(360, 71%, 66%);
	--clr-green-dark: hsl(125, 67%, 44%);
	--clr-green-light: hsl(125, 71%, 66%);
	--clr-black: #222;
	--transition: all 0.3s linear;
	--spacing: 0.1rem;
	--radius: 0.25rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
	--max-width: 1170px;
	--fixed-width: 450px;
	--clr-pink: #f28ab2;
}

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: var(--clr-white);
	line-height: 1.5;
	font-size: 0.875rem;
	background-color: #e5e5f7;
	background-image: radial-gradient(#737373 1px, #e5e5f7 1px);
	background-size: 20px 20px;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
h1,
h2,
h3,
h4 {
	letter-spacing: var(--spacing);
	text-transform: capitalize;
	line-height: 1.25;
	margin-bottom: 0.75rem;
}

.grid {
	width: 600px;
	height: 90vh;
	background-color: #e5e5f7;
	background-size: 40px 40px;
	background-image: repeating-linear-gradient(
		0deg,
		#737373,
		#737373 2px,
		#e5e5f7 2px,
		#e5e5f7
	);
	position: relative;
	box-shadow: 2px 5px 10px 5px rgba(20, 20, 20, 0.719);
	font-size: 200px;
	text-align: center;
	color: var(--clr-green-dark);
}

.doodler {
	width: 75px;
	height: 95px;
	/* background-image: url('assets/robot-design.svg'); */
	background: url('assets/robot-design.svg');
	position: absolute;
}

.platform {
	width: 85px;
	height: 15px;
	background-color: green;
	position: absolute;
	border-radius: 10px;
}

.btn {
	position: absolute;
	bottom: 40%;
	left: 50%;
	transform: translateX(-50%);
	background: var(--clr-green-dark);
	border-radius: 20px;
	width: 70%;
	margin: 0 auto 0;
	height: 60px;
	color: var(--clr-white);
	font-size: 2rem;
}

.headLineInfo {
	color: var(--clr-green-dark);
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 4rem;
	font-weight: 700;
	width: 100%;
	text-align: center;
}

.playInfo {
	position: absolute;
	height: 70%;
	width: 80%;
	background-color: bisque;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
